.medicalReport {
    .preview {
        margin-top: 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        color: white;

        text-align: center;

        u {
            font-weight: 800;
        }
    }

    user-select: none;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    $green: #008744;
    $blue: #0057e7;
    $red: #d62d20;
    $yellow: #ffa700;
    $white: #eee;

    // scaling... any units
    $width: 100px;

    body {
        background-color: $white;
    }

    // demo-specific
    .showbox {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5%;
    }
    // end demo-specific

    .loader {
        position: relative;
        margin: 0 auto;
        width: $width;
        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }

    .circular {
        animation: rotate 2s linear infinite;
        height: 100%;
        transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        stroke-linecap: round;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35px;
        }
        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124px;
        }
    }

    @keyframes color {
        100%,
        0% {
            stroke: $red;
        }
        40% {
            stroke: $blue;
        }
        66% {
            stroke: $green;
        }
        80%,
        90% {
            stroke: $yellow;
        }
    }

    h5 {
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        color: red;
        font-weight: 700;
    }

    .input-ticket {
        max-width: 250px;
        width: 80%;
    }

    .parts--male {
        display: grid;
        grid-template-rows: 86px 85px 56px 186px;
        grid-template-columns: 57px 50px 50px 57px;
        grid-template-areas:
            'head head head head'
            'armleft upper upper armright'
            'armleft lower lower armright'
            'legleft legleft legright legright';
        user-select: none;

        & > * {
            filter: invert(100%);
        }

        .parts__male__head {
            grid-area: head;
            filter: invert(100%);
        }
        .parts--male__arm--left {
            grid-area: armleft;
        }
        .parts--male__arm--right {
            grid-area: armright;
            transform: scaleX(-1);
        }
        .parts--male__upper {
            grid-area: upper;
        }
        .parts--male__lower {
            grid-area: lower;
        }
        .parts--male__leg--left {
            grid-area: legleft;
        }
        .parts--male__leg--right {
            grid-area: legright;
            transform: scaleX(-1);
        }

        & > * {
            transition: all 0.25s;
            cursor: pointer;

            &:hover {
                filter: invert(50%) sepia(50%);
            }
        }
    }

    .parts--female {
        display: grid;
        grid-template-rows: 83px 76px 81px 178px;
        grid-template-columns: 44px 44px 44px 44px;
        grid-template-areas:
            'head head head head'
            'armleft upper upper armright'
            'armleft lower lower armright'
            'legleft legleft legright legright';
        user-select: none;
        & > * {
            filter: invert(100%);
        }
        .parts__female__head {
            grid-area: head;
        }
        .parts--female__arm--left {
            grid-area: armleft;
        }
        .parts--female__arm--right {
            grid-area: armright;
            transform: scaleX(-1);
        }
        .parts--female__upper {
            grid-area: upper;
        }
        .parts--female__lower {
            grid-area: lower;
        }
        .parts--female__leg--left {
            grid-area: legleft;
        }
        .parts--female__leg--right {
            grid-area: legright;
            transform: scaleX(-1);
        }

        & > * {
            transition: all 0.25s;
            cursor: pointer;

            &:hover {
                filter: invert(50%) sepia(50%);
            }
        }
    }

    .parts--children {
        display: grid;
        grid-template-rows: 95px 68px 76px;
        grid-template-columns: 42px 42px 42px 42px;
        grid-template-areas:
            'head head head head'
            'armleft upper upper armright'
            'legleft legleft legright  legright';
        user-select: none;
        & > * {
            filter: invert(100%);
        }
        .parts--children__head {
            grid-area: head;
            height: 95px;
            width: 172px;
        }
        .parts--children__arm--left {
            grid-area: armleft;
            height: 68px;
            width: 42px;
        }
        .parts--children__arm--right {
            grid-area: armright;
            transform: scaleX(-1);
            height: 68px;
            width: 42px;
        }
        .parts--children__upper {
            grid-area: upper;
            height: 68px;
            width: 84px;
        }
        .parts--children__leg--left {
            grid-area: legleft;
            height: 76px;
            width: 84px;
        }
        .parts--children__leg--right {
            grid-area: legright;
            transform: scaleX(-1);
            height: 76px;
            width: 84px;
        }

        & > * {
            transition: all 0.25s;
            cursor: pointer;

            &:hover {
                filter: invert(50%) sepia(50%);
            }
        }
    }

    .reports {
        display: flex;
        height: 100vh;
        width: 100vw;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .card {
            margin: 20px;
            width: 140px;
            height: 140px;

            img {
                height: 120px;
            }
        }

        .button--back {
            position: fixed;
            top: 10px;
            left: 10px;
        }
    }

    .button--next {
        position: fixed;
        bottom: 20px;
        width: 200px;
    }
}
