@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://use.typekit.net/gol6nao.css');

body {
    background: radial-gradient(
            closest-corner,
            rgba(16, 47, 70, 0) 60%,
            rgba(16, 47, 70, 0.26)
        ),
        linear-gradient(108deg, #20f1ee8c, #3e54cf91 70%);
}
.app {
    height: 100vh;
    width: 100vw;

    user-select: none;

    input {
        display: block;
        padding: 0.5em 0.25em;
        border: none;
        border-radius: 0.2em;
        font-size: 1.5em;
        text-align: center;
        box-shadow: 0 0 1em 0.25em rgba(0, 0, 0, 0.2);
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
    }
    .main {
        margin-top: 100px;
        position: relative;
        top: 120px;
        text-align: center;
        padding: 150px 0;
        font-family: 'Nanum Pen Script', cursive;
        font-size: 100px;
        color: white;
        opacity: 0.6;
        z-index: 2;
    }
    .pic {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        background: transparent;
        background-image: url(https://pre00.deviantart.net/384e/th/pre/i/2016/034/4/5/earth___adobe_illustrator__hd__by_shaddow24-d9qcch8.png);
        background-size: contain;
        z-index: 1;
        margin: 0 auto;
        position: relative;
        bottom: 350px;
        animation: pulse 2s infinite;
    }
}
