.login {
    padding: 75px 0 0 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: visible;
    color: #444444;
    font-weight: 500;

    .Age {
        color: white;
        font-size: 150px;
        font-family: 'europa';
        font-weight: 700;
    }

    .login__age {
        margin-top: 50px;
        width: 200px;
    }

    .login__buttons {
        margin: 75px 0 0 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;

        button {
            margin: 20px 20px;
        }
    }

    .login__header {
        max-width: 500px;
        width: 100%;
    }

    img {
        user-select: none;
    }

    .login__button--password {
        position: fixed;
        bottom: 5px;
        left: 5px;
    }
    .login__button--doctor {
        position: fixed;
        bottom: 5px;
        right: 5px;
    }

    .login__gps__loc {
        margin-top: 100px;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
    }
    .login__gps {
        transform: scale(2);
        display: block;
        top: 60px;
        left: 50px;
        width: 6px;
        height: 6px;
        background: #000000;
        border: 5px solid #eb4739;
        border-radius: 28px;
    }
    .login__gps:after {
        position: relative;
        display: block;
        content: '';
        margin: 0 auto;
        border-radius: 100px;
        left: -31px;
        top: -43px;
        z-index: 10;
        background-color: transparent;
        opacity: 0.1;
        width: 64px;
        height: 64px;
        border: 2px solid #eb4739;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -o-border-radius: 100px;
        -ms-border-radius: 100px;
        border-radius: 100px;
        animation: pulse 1.5s linear infinite;
        border-image: initial;
    }

    .keyfield {
        margin-top: 80px;
        width: 300px;
    }

    .login__slider {
        width: 100%;
        margin: 50% auto;
        /* track */
        input[type='range'] {
            -webkit-appearance: none !important;
            width: 100%;
            height: 1px;
            background-color: #ff5252;
            border: none;
            border-radius: 10px;
            margin: auto;
            transition: all 400ms;
            outline: none;
            padding: 0;
            margin: 0;
        }
        input[type='range']::-moz-range-track {
            width: 100%;
            height: 1px;
            background-color: #ff5252;
            border: none;
            border-radius: 10px;
            margin: auto;
            transition: all 400ms;
            outline: none;
            padding: 0;
            margin: 0;
        }

        /* thumb */
        input[type='range']::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            transform: scale(0.75);
            width: 20px;
            height: 20px;
            border: none;
            background-color: #ff5252;
            border-radius: 40px;
            box-shadow: 0px 0px 0px green;
            transition: all 400ms;
            outline: none;
        }
        input[type='range']::-moz-range-thumb {
            -webkit-appearance: none !important;
            transform: scale(0.75);
            width: 20px;
            height: 20px;
            border: none;
            background-color: #ff5252;
            border-radius: 30px;
            box-shadow: 0px 0px 0px green;
            transition: all 400ms;
            outline: none;
        }

        /* thumb hover */
        input[type='range']::-webkit-slider-thumb:hover {
            transform: scale(0.85);
        }
        input[type='range']::-moz-range-thumb:hover {
            transform: scale(0.85);
        }

        /* thumb active */
        input[type='range']::-webkit-slider-thumb:active {
            transform: scale(1);
        }
        input[type='range']::-moz-range-thumb:active {
            transform: scale(1);
        }
    }
    .login__container--pregnant {
        width: 300px;

        margin-top: 50px;

        display: flex;
        justify-content: space-around;
    }

    .login__age__agree {
        margin-top: 30px;
        visibility: collapse;
    }

    .visible {
        visibility: visible;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(30, 47, 73, 0.644);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(30, 47, 73, 0.644);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(30, 47, 73, 0.644);
    }
}
